<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<h1>Bank account:</h1>

<h2>Name:</h2>
<h2 th:text="${bankAccount.getName()}"></h2>
<h2>Balance:</h2>
<h2 th:text="${#numbers.formatDecimal(bankAccount.getBalance(), 0, 2)} + ' Zebra'"></h2>
<h2>Animal Type:</h2>
<h2 th:text="${bankAccount.getAnimalType()}"></h2>

</body>
</html>