<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<ul>
    <li>
        <a href="https://www.w3schools.com">Information</a>
    </li>
</ul>
<img src="greenfox.png" alt="Green Fox">
<p>This is Mr. Fox. Currently living on pizza and lemonade. He knows 2 tricks.</p>
<h1>Known tricks</h1>
<ul>
    <li>write HTML</li>
    <li>code in java</li>
</ul>
</body>
</html>