<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div th:replace="navigation :: navBar (${name})"></div>
<img src="greenfox.png" alt="Green Fox">
<p th:text="'This is ' + ${fox.getName()} + '. Currently living on ' + ${#strings.toLowerCase(fox.getFood())} + ' and '
+ ${#strings.toLowerCase(fox.getDrink())} + '. He knows ' + (${fox.getTricks() == null} ? '0' : ${fox.getTricks().size()}) + ' tricks.'"></p>
<div th:if="${fox.getTricks() == null}">
    <h1>You know no tricks, yet. Go and learn some.</h1>
</div>
<div th:unless="${fox.getTricks() == null}">
    <h1>Known tricks</h1>
    <ul th:each="trick : ${fox.getTricks()}">
        <li th:text="${trick}"></li>
    </ul>
</div>
</body>
</html>