<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Items List</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<h1>My Shop</h1>
<nav>
    <a href = "/only-available">ONLY AVAILABLE</a>
    <a href = "/cheapest-first">CHEAPEST FIRST</a>
    <a href = "/contains-nike">CONTAINS NIKE</a>
    <a href = "/average-stock">AVERAGE STOCK</a>
    <a href = "/most-expensive">MOST EXPENSIVE AVAILABLE</a>
</nav>
<Label id="searchFor">Search for:</Label>
<form action="/search" method="POST">
    <input type="text" id="searchWord" name="searchWord" placeholder="...something like nike">
    <button id="btnSearch" href="#">Search</button>
</form>
<p th:if="${singleSentence != null}" th:text="${singleSentence}"></p>
<table th:if="${shopItems != null}">
    <thead>
    <tr>
        <th>Name</th><th>Description</th><th>Price</th><th>Quantity of stock</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="shopItem : ${shopItems}">
        <td th:text="${shopItem.getName()}"></td>
        <td th:text="${shopItem.getDescription()}"></td>
        <td th:text="${shopItem.getPrice()}"></td>
        <td th:text="${shopItem.getQuantityOfStock()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>