html {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em
}

input, label {
    display: block;
    padding: .5em;
    text-transform: uppercase;
}

form {
    width: 15em;
    height: 15em;
    padding: 5em;
}

input {
    width: 12em;
}
