<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Post</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<form method="POST" th:action="@{/addpost}" th:object="${post}">
    <h1>Submit a new post</h1>
    <Label>Title:</Label>
    <input type="text" th:field="*{title}" placeholder="Whoa what a gif" /><br><br>
    <Label>URL:</Label>
    <input type="text"  th:field="*{link}" placeholder="https://media.giphy.com"><br><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>