<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Post</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<form method="POST" th:action="@{/addpost}">
    <h1>Submit a new post</h1>
    <Label>Title:</Label>
    <input type="text" name="title" placeholder="Whoa what a gif" /><br><br>
    <Label>URL:</Label>
    <input type="text" name="link" placeholder="https://media.giphy.com"><br><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>