<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts List</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<nav>
    <a th:each="number : ${pageNumbers}" th:text="${number} + ' '" th:href="'listposts/' + ${number}"></a>
</nav>
<div><a href="/addpost">Submit new post</a></div>
<h1>Trending posts</h1>
<table>
    <tr th:each="post : ${postList}" th:object="${post}">
        <td th:text="*{numVotes}"></td>
        <td><a th:href="'changevote/' + *{id} + '/plus'">+</a></td>
        <td><a th:href="'changevote/' + *{id} + '/minus'">-</a></td>
        <td><a th:href="*{link}" th:text="*{title}"></a></td>
        <td th:text="${#dates.format(post.date, 'yyyy-MM-dd')}"></td>
    </tr>
</table>
</body>
</html>