body {
    font-family: 'Roboto', sans-serif;
}
header h1{
    padding: 8px 15%;
    font-size: 25px;
    font-weight: lighter;
}
content {
    display: block;
    margin: 0px 15%;
}
body header h1{
    background-color: rgb(94, 94, 94);
    margin-bottom: 0px;
}
content>p{
    font-weight: bold;
    margin-bottom: 2px;
}
p.NewPost{
    font-size: large;
    font-weight: lighter;
    margin-top: 8px;
}
textarea {
    width: 100%;
    display: block;
    border: solid 1px black;
}
content input {
    border: solid 1px black;
}
button{
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
    border-radius: 5px;
    font-size:14px;
    border: solid 1px black;
    background-color: rgb(226, 226, 226);
    padding: 2px 30px 3px;
}
section h2{
    font-weight: lighter;
    font-size: 22px;
}
section .PostText{
    padding: 10px;
    border: solid 1px black;
    margin-bottom: 10px;
}
section>div>p{
    margin: 0px;
}
section>div>h3{
    font-size: 22px;
    margin: 2px 2px 5px -3px;
} 