<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>TODO List</title>
</head>
<body>
<h1>Todos for today:</h1>

<table>
    <tr>
        <td>ID</td>
        <td>TITLE</td>
        <td>URGENT</td>
        <td>DONE</td>
    </tr>
    <tr th:each="todo : ${todos}" th:object="${todo}">
        <td th:text="*{id}"></td>
        <td th:text="*{title}"></td>
        <td th:text="*{urgent}"></td>
        <td th:text="*{done}"></td>
    </tr>
</table>
</body>
</html>